# GOOGLE SHEET LINK: https://docs.google.com/spreadsheets/d/1bgETG8xdenbkAYsRK3JegbIOE4KlmSGqRmPBHV0Ztuo/edit?usp=sharing
# 
# Instructions to activate Google Sheet sync:
# 1. Open your Google Sheet at: https://docs.google.com/spreadsheets/d/1bgETG8xdenbkAYsRK3JegbIOE4KlmSGqRmPBHV0Ztuo/edit
# 2. Click Extensions (الإضافات) -> Apps Script
# 3. Paste the contents of `google_apps_script.js`
# 4. Click Deploy -> New deployment -> Select Web app -> Execute as: Me -> Access: Anyone
# 5. Copy the generated Web App URL and paste it below:

VITE_GOOGLE_SHEETS_WEBHOOK_URL="https://script.google.com/macros/s/YOUR_DEPLOYED_SCRIPT_ID/exec"
VITE_GOOGLE_SHEET_ADMIN_LINK="https://docs.google.com/spreadsheets/d/1bgETG8xdenbkAYsRK3JegbIOE4KlmSGqRmPBHV0Ztuo/edit?usp=sharing"
